@media (max-width: 960px) {
    * {
        color: coral;
    }
}

@media (max-width: 760px) {
    * {
        color: aqua;
    }
}

@media (max-width: 640px) {
    * {
        color: crimson;
    }
}
